:root {
  --link-color: #ffda79;
  --heading-color: #0073e6;
  --text-color: #f7f1e3;
  --link-hover: #474787;
  --bg: #66c2ff;
  --side-bg: #227093;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: 'Vazir';
  box-sizing: border-box;
}

.App {
  position: relative;
}

#root a:hover {
  color: var(--link-hover);
}

.container {
  width: 80%;
  margin: auto;
}

header {
  border-bottom: 3px solid var(--side-bg)
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 250px
}

.header-links , footer {
  direction: rtl;
}

.header-links li {
  display: inline-block;
  list-style: none;
  margin: 0 10px
}

.header-links li a, .account-container a, .register-link a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 18px
}

.side-menu {
  display: none;
}

.side-menu p {
  color: var(--link-color);
  font-size: 20px;
  cursor: pointer;
}

.side-menu p:active {
  transform: scale(.99);
}

.account {
  background: url("./components/image/vector.svg") no-repeat;
  background-size: cover;
}

.account-container, .recovery-container, .register-container {
  width: 500px;
  margin: auto;
  direction: rtl;
}

.heading {
  color: var(--heading-color)
}

.text {
  font-size: 16px;
  color: var(--text-color)
}

.account-container form input, .recovery-container input, .register-container input {
  display: block;
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #227093
}

#check {
  display: inline-block;
  width: initial;
}

.account-container form label, .recovery-container label, .register-container label {
  color: var(--heading-color)
}

.test-link {
  text-align: center;
}

.test-link a , #submit {
  background-color: #706fd3;
  border-radius: 6px;
  padding: 10px 35px;
  box-shadow: 0px 2px 20px 0px rgba(34, 112, 147,1.0);
  transition: all 1s
}

.test-link a:hover {
  padding: 10px 60px;
  background:  linear-gradient(180deg, rgba(52, 172, 224,1.0), rgba(34, 112, 147,1.0)) 
}

.register-link p {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px
}


#submit   {
  width: 300px;
  color: var(--link-color);
  margin: auto;
  font-size: 16px
}

#submit:hover {
  background: linear-gradient(180deg, rgba(52, 172, 224,1.0), rgba(34, 112, 147,1.0));
  width: 350px;
  color: var(--link-hover)
}

.dashContent {
    width: calc(100% - 250px);
    float: left;
  }

aside {
    width: 250px;
    height: 100vh;
    background-color: var(--side-bg);
    position: absolute;
    right: 0;
 }

.side-header {
  text-align: center;
  color: #fff
 }

 .side-links ul li {
  list-style: none;
  text-align: right;
  padding: 10px;
 } 

 .side-links ul li a {
  text-decoration: none;
  color: #34ace0
 }

 .dash-container {
  overflow: hidden;
 }

.dashHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.dashHeader p:last-child {
  direction: rtl
}

.dash-info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 30px
}

.test-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;align-self: center;
  grid-gap: 15px
}

.test-info {
  border-radius: 10px;
  text-align: center;
}

.test-info:nth-child(odd) {
    background-color: #ff793f;
}

.test-info:nth-child(odd) h3 {
  background-color: #cd6133
}

.test-info:nth-child(even) {
    background-color: #34ace0;
}

.test-info:nth-child(even) h3 {
  background-color: #227093
}

.personal-info {
  text-align: right;
}

.personal-info img {
  width: 100px;
}

.personal-info a {
  background-color: #706fd3;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 2px 20px 0px rgba(34, 112, 147,1.0);
  text-decoration: none;
  margin: 10px 0
}

.myTest-header, .myTransaction-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.myTest-header img, .myTransaction-header img {
  width: 250px
}

.myTest-header h2, .myTest-header p, .myTransaction-header h2, .myTransaction-header p {
  direction: rtl;
}

.edit-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
}

.edit-container img {
  width: 350px
}

.edit-form {
  direction: rtl
}

.edit-form input {
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #227093;
}

.edit-form p {
  margin-bottom: 30px;
  font-size: 12px;
  color: grey
}

input[type="radio"] {
  display: inline-block;
  width: 50px;
  margin-left: 20px; 
}








footer {
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

footer a {
  text-decoration: none;
  color: var(--link-color)
}



@media only screen and (max-width: 992px){

  .container {
    width: 90%;
   }

  }

  @media only screen and (max-width: 768px){
   
   .logo img {
     width: 200px
  }

  .header-items {
    display: none;
  }

  .side-menu {
    display: block;
    text-align: right
   }

  }

  .p-h {
    padding: 20px 0
  }

  .p-h-1 {
    padding: 10px
  }

  .m-h-1 {
    margin: 20px 0 15px;
  }

  .mt-h-2 {
    margin-top: 40px
  }

  .mt-h-4 {
    margin-top: 100px
  }

  .mt-h-1 {
    margin-top: 20px
  }

