:root {
  --link-color: lightgray;
  --heading-color: darkgray;
  --text-color: #7367f0;
  --link-hover: orange;
  --light: #f6f6f6;
  --side-bg: #7367f0;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: 'Vazir';
  box-sizing: border-box;
}

.App {
  position: relative;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  border-bottom: 3px solid var(--side-bg)
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 250px
}

footer {
  direction: rtl;
}

.account {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
  justify-content: center;
  align-items: center; 
}

.account img {
  width: 600px
}

.account-container a, .register-link a {
  text-decoration: none;
  color: var(--light);
  font-size: 18px
}

.recovery-link a, .register-link a {
  color: var(--text-color)
}

.side-menu {
  display: none;
}

.side-menu p {
  color: var(--link-color);
  font-size: 20px;
  cursor: pointer;
}

.side-menu p:active {
  transform: scale(.99);
}

.account-container, .recovery-container, .register-container {
  width: 350px;
  direction: rtl;
}

.heading {
  color: var(--heading-color)
}

.text {
  font-size: 16px;
  color: var(--text-color)
}

.account-container form input, .recovery-container input, .register-container input {
  display: block;
  width: 350px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightgray
}

#check {
  display: inline-block;
  width: initial;
}

.account-container form label, .recovery-container label, .register-container label {
  color: var(--heading-color)
}

.test-link {
  text-align: center;
}

.test-link a , #submit {
  background-color: var(--side-bg);
  border-radius: 6px;
  padding: 10px 35px;
  transition: all 1s
}

.test-link a:hover {
  padding: 10px 60px;
  background:  linear-gradient(180deg, rgba(52, 172, 224,1.0), rgba(34, 112, 147,1.0)) 
}

.register-link p {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px
}


#submit   {
  width: 300px;
  color: var(--link-color);
  margin: auto;
  font-size: 16px
}

#submit:hover {
  background: linear-gradient(180deg, rgba(52, 172, 224,1.0), rgba(34, 112, 147,1.0));
  width: 350px;
  color: var(--link-hover)
}

.dashContent {
    width: calc(100% - 250px);
    float: left;
  }

aside {
    width: 250px;
    min-height: 100vh;
    background-color: var(--side-bg);
    position: absolute;
    right: 0;
 }

.side-header {
    text-align: center;
    color: #fff
 }

 .nav-item {
    list-style: none;
    text-align: right;
    padding: 10px;
 }

 .nav-item, .nav-item a {
  color: var(--heading-color)
 }

 .nav-item p:hover,.nav-item a:hover {
   color: var(--link-hover)
 }

 .nav-link {
    list-style: none;
    text-align: right;
    padding: 10px 20px;
 }

 .nav-link a {
  color: var(--link-color)
 }

 .nav-link:hover, .nav-link a:hover {
  color: yellow 
 }

 .side-links ul li a {
    text-decoration: none;
 }

 .side-links li, .side-links a {
  cursor: pointer;
 }

 .side-links i {
  font-size: 8px
 }

 .links-container {
  height: 0;
  overflow: hidden;
  transition: height .5s
 }

 .open {
  height: 90px;
 }

 .dash-container {
  overflow: hidden;
 }

.dashHeader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.dashHeader p:last-child {
  direction: rtl
}

.dash-info-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 30px
}

.users-container {
  text-align: center;
}

.user-item {
  direction: rtl;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  border-radius: 2px;
}

.user-item p {
  display: inline-block;
}

.user-item button {
  margin-left: 20px;
  padding: 5px 10px;
  border-style: none;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: var(--side-bg);
  color: var(--light) 
}

.test-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;align-self: center;
  grid-gap: 15px
}

.test-info {
  border-radius: 10px;
  text-align: center;
}

.test-info:nth-child(odd) {
    background-color: #ff793f;
}

.test-info:nth-child(odd) h3 {
  background-color: #cd6133
}

.test-info:nth-child(even) {
    background-color: #34ace0;
}

.test-info:nth-child(even) h3 {
  background-color: #227093
}

.personal-info {
  text-align: right;
}

.personal-info img {
  width: 100px;
}

.personal-info a {
  background-color: #706fd3;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 2px 20px 0px rgba(34, 112, 147,1.0);
  text-decoration: none;
  margin: 10px 0
}

.myTest-header, .myTransaction-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.myTest-header img, .myTransaction-header img {
  width: 250px
}

.myTest-header h2, .myTest-header p, .myTransaction-header h2, .myTransaction-header p {
  direction: rtl;
}

.edit-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
}

.edit-container img {
  width: 350px
}

.edit-form {
  direction: rtl
}

.edit-form input {
    display: block;
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #227093;
}

.edit-form p {
  margin-bottom: 30px;
  font-size: 12px;
  color: grey
}

input[type="radio"] {
  display: inline-block;
  width: 50px;
  margin-left: 20px; 
}

.assess-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.assess-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-info , .btn-danger {
  display: inline-block;
  text-decoration: none;
  border-radius: 6px
}

.btn-info {
  background-color: #34ace0
}

.btn-danger {
  background-color: #ff5252;
  margin-left: 40px
}

.buy-btn {
  width: 100%;
  text-decoration: none;
  text-align: center;
  background-color: #ffb142;
  border-radius: 6px
} 

.cards-container {
    width: 600px;
    margin: 100px auto;
    overflow: hidden;
}

.cards {
    width: 600px;
    display: grid;
    align-items: center;
    transform: translateX(0px);
    transition: transform 1s;
}

.card {
    width: 600px;
    heigt: 100%;
    background-color: #d1ccc0;
    border-radius: 6px;
    transition: transform .7s;
    overflow-y: hidden;
}

.question {
    text-align: center;
    padding: 10px;
    font-size: 18px
}

.card .answer {
  direction: rtl;
  background-color: #ffb142;
  display: grid;
  justify-content: center;
  align-items: center;
  transform: translateY(67px);
  border-radius: 6px;
  border-top: 2px solid black;
  transition: transform .7s;
  transition-delay: .2s
}

.active .answer {
    transform: translateY(0px);
}

.answer p {
  padding: 0
}

.answer div {
  text-align: center;
}

.answer input {
    display: inline-block;
    width: 15px;
    margin-left: 5px;
}

.card-navigation {
  text-align: center;
}

.card-navigation span {
  margin: 10px 5px;
  font-size: 18px
}

.card-navigation span:first-child, .card-navigation span:last-child {
  cursor: pointer;
}

.card-navigation span:first-child {
  margin-right: 15px
}

.card-navigation span:last-child {
  margin-left: 15px
}


.assess-info img {
  width: 200px
}









footer {
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

footer a {
  text-decoration: none;
  color: var(--text-color)
}



@media only screen and (max-width: 992px){

  .container {
    width: 90%;
   }

  }

  @media only screen and (max-width: 768px){
   
   .logo img {
     width: 200px
  }

  .header-items {
    display: none;
  }

  .side-menu {
    display: block;
    text-align: right
   }

  }

  .p-h {
    padding: 20px 0
  }

  .p-h-1 {
    padding: 10px
  }

  .m-h-1 {
    margin: 20px 0 15px;
  }

  .mt-h-2 {
    margin-top: 40px
  }

  .mt-h-4 {
    margin-top: 100px
  }

  .mt-h-1 {
    margin-top: 20px
  }

